<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{_layout :: email(cabecalho=~{::cabecalho}, conteudo=~{::conteudo})}">
    <th:block th:fragment="cabecalho">
        <h1>Cadastro aceito - Unidade subordinada</h1>
    </th:block>
    <th:block th:fragment="conteudo">
        <p>Prezado(a) responsável pela <strong th:text="${siglaUnidadeSuperior}">UNIDADE SUPERIOR</strong>,</p>
<p>Informamos que o cadastro de atividades da unidade <strong th:text="${siglaUnidade}">UNIDADE</strong> foi aceito e
    submetido para a próxima etapa de análise no processo
    <strong th:text="${nomeProcesso}">PROCESSO</strong>.</p>
<p><strong>Observações:</strong> <span th:text="${observacoes}">Observações do aceite</span></p>
    </th:block>
</th:block>
</body>
</html>
