<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{_layout :: email(cabecalho=~{::cabecalho}, conteudo=~{::conteudo})}">
    <th:block th:fragment="cabecalho">
        <h1>Cadastro aceito em unidade subordinada</h1>
    </th:block>
    <th:block th:fragment="conteudo">
        <p>Prezado(a) responsável pela <strong th:text="${siglaUnidadeSuperior}">UNIDADE SUPERIOR</strong>,</p>
        <p>
            Informamos que o cadastro de atividades e conhecimentos da unidade
            <strong th:text="${siglaUnidade}">UNIDADE</strong> no processo
            <strong th:text="${nomeProcesso}">PROCESSO</strong> foi submetido para análise por essa unidade.
        </p>
        <p th:if="${observacoes != null}">
            <strong>Observações do aceite:</strong>
            <span th:text="${observacoes}">Observações do aceite</span>
        </p>
        <p>
            A análise já pode ser realizada no Sistema de Gestão de Competências
            (<a href="https://sgc.tre-pe.jus.br">https://sgc.tre-pe.jus.br</a>).
        </p>
    </th:block>
</th:block>
</body>
</html>
