<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro disponibilizado - Unidade Subordinada</title>
</head>
<body>
<p>Prezado(a) responsável pela <strong th:text="${siglaUnidadeSuperior}">UNIDADE SUPERIOR</strong>,</p>
<p>Informamos que o cadastro de atividades da unidade <strong th:text="${siglaUnidade}">UNIDADE</strong> foi
    disponibilizado para análise no processo
    <strong th:text="${nomeProcesso}">PROCESSO</strong>.</p>
<p>O cadastro já pode ser visualizado no Sistema de Gestão de Competências.</p>
</body>
</html>
