<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{email/_layout :: email(cabecalho=~{::cabecalho}, conteudo=~{::conteudo})}">
    <th:block th:fragment="cabecalho">
        <h1 th:text="${titulo}">Data Limite Alterada</h1>
    </th:block>
    <th:block th:fragment="conteudo">
        <p>Prezado(a) responsável pela <strong th:text="${siglaUnidade}"></strong>,</p>
        <p>Informamos que a data limite da etapa <strong th:text="${etapa}"></strong> do processo
            <strong th:text="${nomeProcesso}"></strong> foi alterada para
            <strong th:text="${novaData}"></strong>.</p>

        <p>Acesse o sistema para verificar as atualizações:</p>

        <p style="margin-top: 20px;">
            <a href="https://sgc.tre-pe.jus.br" class="btn">
                Acessar painel
            </a>
        </p>
    </th:block>
</th:block>
</body>
</html>