<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{_layout :: email(cabecalho=~{::cabecalho}, conteudo=~{::conteudo})}">
    <th:block th:fragment="cabecalho">
        <h1>Revisão do cadastro devolvida para ajustes em unidade subordinada</h1>
    </th:block>
    <th:block th:fragment="conteudo">
        <p>Prezado(a) responsável pela <strong th:text="${siglaUnidadeSuperior}">UNIDADE SUPERIOR</strong>,</p>
        <p>
            Informamos que a revisão do cadastro de atividades e conhecimentos da unidade
            <strong th:text="${siglaUnidade}">UNIDADE</strong> foi devolvida para ajustes no processo
            <strong th:text="${nomeProcesso}">PROCESSO</strong>.
        </p>
        <p th:if="${observacoes != null}">
            <strong>Observações da análise:</strong>
            <span th:text="${observacoes}">Justificativa da devolução</span>
        </p>
    </th:block>
</th:block>
</body>
</html>
