<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Devolução de Revisão de Cadastro de Atividades</title>
</head>
<body>
<p>Prezado(a) responsável pela <span th:text="${siglaUnidadeDestino}"></span>,</p>
<p>
    O cadastro de atividades e conhecimentos da <span th:text="${siglaUnidadeOrigem}"></span> no processo <span th:text="${nomeProcesso}"></span> foi devolvido para ajustes.
    Acompanhe o processo no O sistema de Gestão de Competências: [URL_SISTEMA].
</p>
</body>
</html>
