<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro Disponibilizado</title>
</head>
<body>
<p>Prezado(a) responsável pela <span th:text="${siglaUnidadeDestino}"></span>,</p>
<p>
    A unidade <span th:text="${siglaUnidadeOrigem}"></span> disponibilizou o cadastro de atividades e conhecimentos do processo <span th:text="${nomeProcesso}"></span>.
    A análise desse cadastro já pode ser realizada no Sistema de Gestão de Competências (<a href="https://sgc.tre-pe.jus.br">https://sgc.tre-pe.jus.br</a>).
</p>
</body>
</html>
