<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Disponibilização de Mapa de Competências</title>
</head>
<body>
<p>Prezado(a) Chefe da unidade <span th:text="${siglaUnidade}"></span>,</p>
<p>
    O mapa de competências da sua unidade, referente ao processo '<span th:text="${nomeProcesso}"></span>', foi disponibilizado para validação.
    O prazo para conclusão desta etapa é <span th:text="${dataLimite}"></span>.
</p>
<p>Acesse o SGC para realizar a validação.</p>
</body>
</html>
