<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{email/_layout :: email(cabecalho=~{::cabecalho}, conteudo=~{::conteudo})}">
    <th:block th:fragment="cabecalho">
        <h1>Início de processo de mapeamento de competências</h1>
    </th:block>
    <th:block th:fragment="conteudo">
        <p>Prezado(a) responsável pela <strong th:text="${siglaUnidade}"></strong>,</p>
        <p>Comunicamos o início do processo <strong th:text="${nomeProcesso}"></strong> para a sua unidade.</p>
        <p>Já é possível realizar o cadastro de atividades e conhecimentos no Sistema de Gestão de Competências
            (SGC).</p>
        <p>O prazo para conclusão desta etapa do processo é <strong th:text="${dataLimite}"></strong>.</p>
        <p style="margin-top: 20px;">
            <a href="https://sgc.tre-pe.jus.br" class="btn">
                Acessar SGC
            </a>
        </p>
    </th:block>
</th:block>
</body>
</html>