<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{_layout :: email(cabecalho=~{::cabecalho}, conteudo=~{::conteudo})}">
    <th:block th:fragment="cabecalho">
        <h1 th:text="${titulo}">Início de processo</h1>
    </th:block>
    <th:block th:fragment="conteudo">
        <p>Prezado(a) responsável pela <strong th:text="${siglaUnidade}"></strong>,</p>

        <div class="section" th:if="${isParticipante}">
            <p>Comunicamos o início do processo <strong th:text="${nomeProcesso}"></strong> para a sua unidade.</p>
            <p th:if="${tipoProcesso == 'MAPEAMENTO'}">
                Já é possível realizar o cadastro de atividades e conhecimentos no Sistema de Gestão de Competências
                (<a href="https://sgc.tre-pe.jus.br">SGC</a>).
            </p>
            <p th:if="${tipoProcesso == 'REVISAO'}">
                Já é possível realizar a revisão do seu cadastro de atividades e conhecimentos no Sistema de Gestão de
                Competências (<a href="https://sgc.tre-pe.jus.br">SGC</a>).
            </p>
            <p th:if="${tipoProcesso == 'DIAGNOSTICO'}">
                Já é possível realizar a autoavaliação de competências no Sistema de Gestão de Competências.
            </p>
            <p>O prazo para conclusão desta etapa do processo é <strong th:text="${dataLimite}"></strong>.</p>
        </div>

        <div class="section" th:if="${hasSubordinadas}">
            <p>
                Comunicamos o início do processo <strong th:text="${nomeProcesso}"></strong> nas unidades
                <strong th:text="${#strings.listJoin(siglasSubordinadas, ', ')}"></strong>.
            </p>
            <p th:if="${tipoProcesso == 'MAPEAMENTO'}">
                Estas unidades já podem iniciar o cadastro de atividades e conhecimentos. À medida que estes cadastros
                forem sendo disponibilizados, será possível visualizar e realizar a sua validação.
            </p>
            <p th:if="${tipoProcesso == 'REVISAO'}">
                Estas unidades já podem iniciar a revisão do cadastro de atividades e conhecimentos. À medida que estas
                revisões forem sendo disponibilizadas, será possível visualizar e realizar a sua validação.
            </p>
            <p th:if="${tipoProcesso == 'DIAGNOSTICO'}">
                Estas unidades já podem iniciar a autoavaliação de competências. À medida que estas avaliações forem sendo
                concluídas, será possível visualizar e realizar a sua validação.
            </p>
            <p>O prazo para conclusão desta etapa do processo é <strong th:text="${dataLimite}"></strong>.</p>
            <p th:if="${tipoProcesso != 'DIAGNOSTICO'}">
                Acompanhe o processo no Sistema de Gestão de Competências:
                <a href="https://sgc.tre-pe.jus.br">https://sgc.tre-pe.jus.br</a>.
            </p>
        </div>
    </th:block>
</th:block>
</body>
</html>

