<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{_layout :: email(cabecalho=~{::cabecalho}, conteudo=~{::conteudo})}">
    <th:block th:fragment="cabecalho">
        <h1>Mapa de competências disponibilizado</h1>
    </th:block>
    <th:block th:fragment="conteudo">
        <p>Prezado(a) responsável pela <strong th:text="${siglaUnidade}">UNIDADE</strong>,</p>

        <p>
            O mapa de competências de sua unidade foi disponibilizado no contexto do processo
            <strong th:text="${nomeProcesso}">PROCESSO</strong>.
        </p>

        <p>
            A validação deste mapa já pode ser realizada no Sistema de Gestão de Competências
            (<a href="https://sgc.tre-pe.jus.br">https://sgc.tre-pe.jus.br</a>). O prazo para conclusão desta etapa
            do processo é <strong th:text="${dataLimiteValidacao}">30/04/2026</strong>.
        </p>
    </th:block>
</th:block>
</body>
</html>
