<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{email/_layout :: email(cabecalho=~{::cabecalho}, conteudo=~{::conteudo})}">
    <th:block th:fragment="cabecalho">
        <h1 th:text="${titulo}"></h1>
    </th:block>
    <th:block th:fragment="conteudo">
        <p>Prezado(a) responsável pela <span th:text="${siglaUnidade}"></span>,</p>
        <p>Comunicamos a conclusão do processo <strong th:text="${nomeProcesso}"></strong> para as unidades:</p>
        <ul>
            <li th:each="sigla : ${siglasUnidadesSubordinadas}" th:text="${sigla}"></li>
        </ul>
        <p>Já é possível visualizar os mapas de competências atualizados destas unidades através do menu Minha unidade
            do Sistema de Gestão de Competências.</p>
        <p style="margin-top: 20px;">
            <a href="https://sgc.tre-pe.jus.br" class="btn">
                Acessar sistema
            </a>
        </p>
    </th:block>
</th:block>
</body>
</html>