<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{_layout :: email(cabecalho=~{::cabecalho}, conteudo=~{::conteudo})}">
    <th:block th:fragment="cabecalho">
        <h1>Revisões de cadastro de atividades e conhecimentos submetidas para análise</h1>
    </th:block>
    <th:block th:fragment="conteudo">
        <p>Prezado(a) responsável pela <strong th:text="${siglaUnidadeSuperior}">UNIDADE_SUPERIOR</strong>,</p>
        <p>
            As revisões do cadastro de atividades e conhecimentos das unidades
            <strong th:text="${#strings.listJoin(siglasUnidades, ', ')}">UNIDADES</strong> no processo
            <strong th:text="${nomeProcesso}">PROCESSO</strong> foram submetidas para análise por essa unidade.
        </p>
        <p>
            As análises já podem ser realizadas no Sistema de Gestão de Competências:
            <a href="https://sgc.tre-pe.jus.br">https://sgc.tre-pe.jus.br</a>.
        </p>
    </th:block>
</th:block>
</body>
</html>
