<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{_layout :: email(cabecalho=~{::cabecalho}, conteudo=~{::conteudo})}">
    <th:block th:fragment="cabecalho">
        <h1>Revisão do cadastro de atividades e conhecimentos submetida para análise</h1>
    </th:block>
    <th:block th:fragment="conteudo">
        <p>Prezado(a) responsável pela <strong th:text="${siglaUnidade}">UNIDADE</strong>,</p>
        <p>
            A revisão do cadastro de atividades e conhecimentos da sua unidade no processo
            <strong th:text="${nomeProcesso}">PROCESSO</strong> foi aceita e submetida para análise pela unidade superior imediata.
        </p>
        <p>
            Acompanhe o processo no Sistema de Gestão de Competências:
            <a href="https://sgc.tre-pe.jus.br">https://sgc.tre-pe.jus.br</a>.
        </p>
    </th:block>
</th:block>
</body>
</html>
