<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{_layout :: email(cabecalho=~{::cabecalho}, conteudo=~{::conteudo})}">
    <th:block th:fragment="cabecalho">
        <h1>Revisão reaberta</h1>
    </th:block>
    <th:block th:fragment="conteudo">
        <p>Prezado(a) responsável pela <strong th:text="${siglaUnidade}">UNIDADE</strong>,</p>
        <p>A revisão do cadastro de atividades da sua unidade foi reaberta para ajustes.</p>
        <p><strong>Processo:</strong> <span th:text="${nomeProcesso}">PROCESSO</span></p>
        <p><strong>Justificativa:</strong> <span th:text="${observacoes}">Motivo da reabertura</span></p>
        <p>Acesse o Sistema de Gestão de Competências para realizar as alterações necessárias: <a
                href="https://sgc.tre-pe.jus.br">https://sgc.tre-pe.jus.br</a>.</p>
    </th:block>
</th:block>
</body>
</html>
