<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Validação do mapa de competências - Unidade Subordinada</title>
</head>
<body>
<p>Prezado(a) responsável pela <strong th:text="${siglaUnidadeSuperior}">UNIDADE SUPERIOR</strong>,</p>
<p>Informamos que o mapa de competências da unidade <strong th:text="${siglaUnidade}">UNIDADE</strong> foi validado no processo
    <strong th:text="${nomeProcesso}">PROCESSO</strong>.</p>
</body>
</html>
