# Gradle
.gradle/
build/
!gradle-wrapper.jar

# IDE
.idea/
*.iml
*.iws
.settings/

# Node
frontend/node_modules/
frontend/dist/
frontend/build/

# Java
backend/src/main/resources/static/
backend/build/
backend/out/
backend/bin/
/backend/src/main/generated/
!/backend/build/test-results/test
/backend/build/test-results/test/binary

# Logs
*.log
*.gz

# Arquivos compilados
*.class
/frontend/tsconfig.tsbuildinfo
/node_modules/
e2e-log-problems.md
test-results/
!backend/build/reports/tests/test/index.html