# Gradle
.gradle/
build/
!gradle-wrapper.jar

# IDE
.idea/
*.iml
*.iws
.settings/

# Node
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/coverage/

# Java
backend/src/main/resources/static/
backend/build/
backend/out/
backend/bin/
/backend/src/main/generated/

# Logs
*.gz

# Arquivos compilados/binários
*.class
/frontend/tsconfig.tsbuildinfo
/node_modules/
/backend/target/
.DS_Store
/.vscode/
/frontend/bin/

# Privacidade/segurança 
.env.hom
/dados/

# Reports de testes
!backend/build/reports/tests/test/
!frontend/coverage/coverage-final.json

# Jqwik
.jqwik-database

# Playwright E2E test results
test-results/
playwright-report/
.playwright/

