spring:
  main.banner-mode: off
  test.mockmvc.print: none
  jpa:
    hibernate.ddl-auto: create-drop
    properties.hibernate.default_schema: sgc
    show-sql: false
    defer-datasource-initialization: true
  sql.init.mode: always
  mail:
    host: ${MAIL_HOST:localhost}
    port: ${MAIL_PORT:1025}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
server:
  port: 10000
aplicacao:
  ambiente-testes: true
  url-acesso-hom: http://localhost:8081/api/acesso
  url-acesso-prod: https://acesso.tre-pe.jus.br/api
  email:
    remetente: sgc@tre-pe.jus.br
    remetente-nome: "Sistema de Gestão de Competências"
    assunto-prefixo: "[SGC]"
springdoc:
  api-docs.enabled: false
  swagger-ui.enabled: false
  api-docs.path: /api-docs
  swagger-ui.path: /swagger-ui.html
  info:
    title: SGC - Sistema de Gestão de Competências API
    version: v1
    description: API para gerenciar o mapeamento de competências e seus fluxos de trabalho.

logging:
  pattern:
    console: "%d{HH:mm:ss} %-5level %logger{36} - %msg%n"
  level:
    org.hibernate: ERROR
    org.hibernate.SQL: ERROR
    org.hibernate.type.descriptor.sql.BasicBinder: ERROR
    org.springframework.orm.jpa: ERROR
    org.springframework.jdbc: ERROR
    com.zaxxer.hikari: ERROR
    org.springframework.boot.autoconfigure.orm.jpa: ERROR
    org.springframework: ERROR
    org.hibernate.tool.schema.internal.SchemaDropperImpl: ERROR
    sgc: INFO
