:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.notification-item {
    min-height: 32px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    display: flex;
    align-items: center;
    gap: 8px;
}

.notification-item .badge {
    font-size: 0.95em;
    padding: 0.35em 0.7em;
    display: flex;
    align-items: center;
}

.notification-text {
    flex: 1;
    word-break: break-word;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
